article.v-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 1100px) {
    width: 95%;
    margin: 50px auto 0;
  }
  img.v-bottle {
    max-width: 400px;
    position: relative;
    grid-column: 1/4;
    user-select: none;
    @media screen and (max-width: 1000px) {
      grid-column: 1/13;
      align-self: center;
      justify-self: center;
    }
    @media screen and (max-width: 750px) {
      max-width: 250px;
      // left: 10%;
    }
  }
  .v-specs,
  .l-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media only screen and (max-width: 1000px) {
      // grid-column: 1/13;
      min-height: 440px;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-items: center;
      // margin: 0 auto;
    }
  }
  .v-specs {
    grid-column: 4/9;
    @media only screen and (max-width: 1100px) and (min-width: 1001px) {
      grid-column: 4/13;
    }
    @media only screen and (max-width: 1000px) {
      grid-column: 1/13;
    }
  }
  .l-specs {
    grid-column: 5/9;
    @media only screen and (max-width: 1100px) and (min-width: 1001px) {
      grid-column: 5/13;
    }
    @media only screen and (max-width: 1000px) {
      grid-column: 1/13;
    }
  }
  .v-block {
    opacity: 1;
    width: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    @media screen and (max-width: 820px) {
      width: 90%;
     }
  }
  .v-box {
    @extend .v-block;
    z-index: 500;
    @media screen and (max-width: 1100px) {
      width: 90%;
     }
  }
  .v-box2 {
    @extend .v-block;
    z-index: 400;
    @media screen and (max-width: 1100px) {
      width: 90%;
     }
  }
  .v-box.enter,
  .v-box2.enter {  
    opacity: 0;
    transform: translateX(-50px);
  }
  .v-box.enter-active,
  .v-box2.enter-active {  
    opacity: 1;
    transform: translateX(0px);
  }
  .v-box.enter-done,
  .v-box2.enter-done {  
    opacity: 1;
    transform: translateX(0px);
  }
  .v-box.exit,
  .v-box2.exit {  
    opacity: 1;
    transform: translateX(0px);
  }
  .v-box.exit-active,
  .v-box2.exit-active {  
    transform: translateX(10px);
    opacity: 0;
  }
  .v-box.exit-done,
  .v-box2.exit-done {  
    opacity: 0;
    transform: translateX(10px);
  }
  h2 {
    margin-bottom: 25px;
    font-size: $fs-xxl;
    @media screen and (max-width: 820px) {
      font-size: $fs-l;
     }
  }
  li {
    display: flex;
    align-items: baseline;
    margin: 3px 0;
    span {
      font-weight: bold;
      font-size: $fs-s;
    }
    p {
      margin-left: 5px;
      // line-height: 1.5;
      // font-size: $fs-s;
    }
  }
    //////////////////////////
    // Лицензионное соглашение 
  .v-licence {
    width: 100%;
    display: flex;
    grid-column: 1/13;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 60px;
    > p {
      font-size: $fs-xs;
      text-align: center;
    }
    @media screen and (max-width: 1100px) {
      margin: 60px auto; 
      
      > p {
        width: 90%;
        
      }
     }
  }
}

#v-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;
  padding: 15px 80px;
  color: $textcolor;
  font-size: $fs-s;
  text-shadow: 15px 25px 4px rgba($deep-blue, .1);
  border-radius: 50px;
  border: 2px solid rgba($textcolor, .4);
  background: transparent;
  transform: scale(1);
  box-shadow: 15px 25px 15px rgba($deep-blue, 0);
  transition: all .3s ease-in-out;
  user-select: none;
  cursor: pointer;
  z-index: 1000;
  @media screen and (max-width: 820px) {
    margin-left: auto;
    margin-right: auto;
  }
  > span {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    overflow: hidden;
    &::before {
      content: '';
      width: 500px;
      height: 500px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: linear-gradient(155deg, rgba($deep-blue, .7) 0%, rgba($deep-blue, .7) 30%, rgba($textcolor, 0.2) 30.01%, rgba($textcolor, 0.2) 60%, rgba($textcolor, 0.03) 60.01%, rgba($textcolor, 0.03) 100%);
      transform: translate(-50px, -325px);
      transition: all .3s ease-in-out;
      z-index: -1;
    }
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: inherit;
    background-color: rgba($deep-blue, .05);
    box-shadow: inset 0px 0px 5px 2px rgba($deep-blue, .15),
                      0px 0px 5px 2px rgba($deep-blue, .15);
    transition: all .3s ease-in-out;
    user-select: none;
    cursor: default;
    pointer-events: none;
    z-index: -1;
  }
  &:hover {
    box-shadow: 15px 25px 15px rgba($deep-blue, .3);
    &::after {
      box-shadow: none;
      background: transparent;
    }
    > span::before {
      transform: translate(-50px, 0px);
    }
  }
}