article.vodka-container-pc {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 820px) {
   display: none;
  }
  img {
    max-width: 400px;
    flex-shrink: 1;
    user-select: none;
  }
  .vodka-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -60px;
    flex-grow: 1;
    width: 50%;
  }
  .vodka-block {
    opacity: 1;
    width: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    @media screen and (max-width: 750px) {
      position: relative;
    }
  }
  .vodka-box {
    @extend .vodka-block;
    z-index: 500;
  }
  .vodka-box2 {
    @extend .vodka-block;
    z-index: 400;
  }
  .vodka-box.enter,
  .vodka-box2 {  
    opacity: 0;
    transform: translateX(-50px);
  }
  .vodka-box.enter-active,
  .vodka-box2.enter-active {  
    opacity: 1;
    transform: translateX(0px);
  }
  .vodka-box.enter-done,
  .vodka-box2.enter-done {  
    opacity: 1;
    transform: translateX(0px);
  }
  .vodka-box.exit,
  .vodka-box2.exit {  
    opacity: 1;
    transform: translateX(0px);
  }
  .vodka-box.exit-active,
  .vodka-box2.exit-active {  
    transform: translateX(10px);
    opacity: 0;
  }
  .vodka-box.exit-done,
  .vodka-box2.exit-done {  
    opacity: 0;
    transform: translateX(10px);
  }
  h2 {
    margin-bottom: 25px;
    font-size: $fs-xxl;
  }
  li {
    display: flex;
    align-items: center;
    margin: 3px 0;
    span {
      font-weight: bold;
      font-size: $fs-s;
    }
  }
  p {
    margin-left: 5px;
    font-size: $fs-s;
  }
  .vodka-licence {
    margin: auto;
  }  
  #vodka-history {
    line-height: $fs-s;
  }
}

#vodka-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 25px;
  padding: 15px 80px;
  color: $textcolor;
  font-size: $fs-s;
  text-shadow: 15px 25px 4px rgba($deep-blue, .1);
  border-radius: 50px;
  border: 2px solid rgba($textcolor, .4);
  background: linear-gradient(155deg, rgba($textcolor, .15) 0%, rgba($textcolor, .15) 50%, rgba($textcolor, 0.03) 50.01%, rgba($textcolor, 0.03) 100%);
  transform: scale(1);
  box-shadow: 15px 25px 15px rgba($deep-blue, 0);
  transition: all .3s ease-in-out;
  user-select: none;
  cursor: pointer;
  z-index: 1000;
  @media screen and (max-width: 820px) {
    position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0%);
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25px;
    left: 15px;
    border-radius: inherit;
    background-color: rgba($deep-blue, .05);
    box-shadow: inset 0px 0px 5px 2px rgba($deep-blue, .15),
                      0px 0px 5px 2px rgba($deep-blue, .15);
    transition: all .3s ease-in-out;
    user-select: none;
    cursor: default;
    pointer-events: none;
    z-index: -1;
  }
  &:hover {
    border: 2px solid transparent;
    background: $deep-blue;
    box-shadow: 15px 25px 15px rgba($deep-blue, .3);
    &::after {
      box-shadow: none;
      background: transparent;
    }
  }
}


///////////////////////////////////////////////////
//////////////////  820px ////////////////////////
/////////////////


article.vodka-container-mob {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: 820px) {
   display: none;
  }
  h2 {
    margin-bottom: 25px;
    font-size: $fs-l;
    text-align: center;
  }
  img {
    max-height: 60vh;
    flex-shrink: 1;
    user-select: none;
  }
  /// BOX to open 
  .vodka-specs {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: $deep-blue;
    
  }
  .vodka-specs.enter {
    opacity: 0;
  }
  .vodka-specs.enter-active {
    opacity: 1;
    transition: all .3s ease-in-out;
    z-index: 5005;
  }
  .vodka-specs.enter-done {
    opacity: 1;
    z-index: 5005;
  }

  li {
    display: flex;
    align-items: center;
    margin: 3px 0;
    span {
      font-weight: bold;
      font-size: $fs-s;
    }
    p {
      margin-left: 5px;
      font-size: $fs-s;
    }
  }
  #vodka-history {
    line-height: $fs-s;
  }
}