$bg-gradient-finely: #52A8F2;
$bg-gradient-deep: #023F74;
// $bg-gradient-finely: #9BCFFB;
$blue: #3D8CD1;
$underworld: #053B6B;
$textcolor: #fff;
$light-blue: #D4EAFC;
$deep-blue: #042E53;

$width-x: 850px;
$fs-xxl: 48px;
$fs-xl: 32px;
$fs-l: 27px;
$fs-m: 24px;
$fs-s:  18px;
$fs-xs: 15px;