$bg-gradient-finely: #9BCFFB;
$bg-gradient-deep: #3D8CD1;
$underworld: #053B6B;
$textcolor: #fff;
$light-blue: #D4EAFC;
$deep-blue: #042E53;

$width-x: 850px;
$fs-xxl: 3em;
$fs-xl: 2em;
$fs-l: 1.7em;
$fs-m: 1.5em;
$fs-s:  1.2em;
$fs-xs: 1em;