#logo-baikal {
  width: 400px;
  margin: 60px auto 40px;
  fill: $textcolor;
  @media screen and (max-width: 750px) {
    width: 300px;
  }
}
h1 {
  font-size: $fs-xxl;
  font-weight: 400;
  text-align: center;
  @media screen and (max-width: 750px) {
    font-size: $fs-l;
  }
}

#main-about-site {
  width: 70%;
  font-size: $fs-s;
  margin: 60px auto;
  white-space: pre-wrap;
  @media screen and (max-width: 750px) {
    width: 95%;
    font-size: $fs-s;
  }
}


  // REDIRECT BUTTONS 
#redirect {
  margin: 0 auto;
  font-weight: 400;
  font-size: $fs-m;
  @media screen and (max-width: 750px) {
    font-size: $fs-xs;
    margin: 0 auto 0;
  }
}
#redirect-btns {
  margin: 15px auto 15%;
  user-select: none;
  .redirect-link {
    width: 160px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    color: $textcolor;
    font-size: $fs-l;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba($deep-blue, .4);
    transition: all .3s ease-in-out;
    &.yes {
      background: $blue;
    }
    &.no {
      background: $deep-blue;
    }
    &:hover.yes {
      background: lighten($blue, 5);
    }
    &:hover.no {
      background: lighten($deep-blue, 5);
    }
    &:hover {
      // color: $deep-blue;
      box-shadow: 0 10px 10px rgba($deep-blue, .2);
      animation: shake .5s ease-in-out forwards;
    }
    @media screen and (max-width: 750px) {
      width: 100px;
      height: 45px;
      font-size: $fs-s;
    }
  }
  @media screen and (max-width: 1226px) {
    margin: 15px auto 150px;
  }
}

@keyframes shake {
  0% { transform: translateX(8px)}
  20% { transform: translateX(-6px)}
  40% { transform: translateX(4px)}
  60% { transform: translateX(-3px)}
  80% { transform: translateX(1px)}
  100% { transform: translateX(0px)}
}


// 404 PAGE 
h1.notfound {
  font-size: 5em;
}
h3.notfound {
  margin-bottom: 50px;
}
