.mar-auto {
  margin: auto;
}


#logo-baikal {
  width: 550px;
  margin: 0 auto 40px;
  @media screen and (max-width: 750px) {
    width: 300px;
  }
}
h1 {
  font-size: $fs-xxl;
  font-weight: 400;
  @media screen and (max-width: 750px) {
    font-size: $fs-l;
  }
}

  // REDIRECT BUTTONS 
#redirect {
  margin: 80px auto 0;
  font-weight: 400;
  font-size: $fs-m;
  @media screen and (max-width: 750px) {
    font-size: $fs-xs;
  }
}
#redirect-btns {
  margin: 15px auto 0;
  user-select: none;
  .redirect-link {
    width: 160px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    color: $textcolor;
    font-size: $fs-l;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba($deep-blue, .4);
    transition: all .3s ease-in-out;
    &.yes {
      background: $bg-gradient-deep;
    }
    &.no {
      background: $deep-blue;
    }
    &:hover.yes {
      background: lighten($bg-gradient-deep, 5);
    }
    &:hover.no {
      background: lighten($deep-blue, 5);
    }
    &:hover {
      // color: $deep-blue;
      box-shadow: 0 10px 10px rgba($deep-blue, .2);
      animation: shake .5s ease-in-out forwards;
    }
    @media screen and (max-width: 750px) {
      width: 100px;
      height: 45px;
      font-size: $fs-s;
    }
  }
}
  // ABOUT BAIKAL
#show-about {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
  font-size: $fs-s;
  font-weight: bold;
  line-height: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: $deep-blue;
  box-shadow: -10px 0px 10px rgba($deep-blue, .4);
  transform: translateX(60px) rotate(-90deg);
  transition: all .3s ease-in-out;
  user-select: none;
  cursor: pointer;
  z-index: 1001;
  @media screen and (max-width: 750px) {
    width: 140px;
    height: 35px;
    top: 0px;
    right: 50%;
    font-size: $fs-xs;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    line-height: 25px;
    transform: translateX(50%) rotate(0deg);
    box-shadow: 0px 10px 10px rgba($deep-blue, .4);
  }
  &:hover {
    background: lighten($deep-blue, 5);
    box-shadow: -10px 0px 10px rgba($deep-blue, .2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    @media screen and (max-width: 750px) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      box-shadow: 0px 10px 10px rgba($deep-blue, .4);
    }
  }
  input {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    z-index: -5;

  }
}
#aboutPage {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: $deep-blue;
  z-index: 1005;
  #main-about-site {
    width: 70%;
    font-size: $fs-l;
    font-weight: 400;
    margin: auto;
    white-space: pre-wrap;
    @media screen and (max-width: 750px) {
      width: 85%;
      font-size: $fs-m;
    }
  }
}
.clouse-win {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  user-select: none;
  &::before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: $textcolor;
    transition: all .3s ease-in-out;
    transform: rotate(45deg) translate(13px, 9px);
  }
  &::after {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: $textcolor;
    transition: all .3s ease-in-out;
    transform: rotate(-45deg) translate(-9px, 13px);
  }
  &:hover {
    border-color: $textcolor;
    transform: rotate(90deg);
    &::before {
      transform: rotate(45deg) translate(13px, 9px);
    }
    &::after {
      transform: rotate(-45deg) translate(-9px, 13px);
    }
  }
}

.aboutPage_show.enter {
  opacity: 0;
}
.aboutPage_show.enter-active {
  opacity: 1;
  transition: all .5s ease-in-out;
}
.aboutPage_show.enter-done {
  opacity: 1;
}
.aboutPage_show.exit {
  opacity: 1;
}
.aboutPage_show.exit-active {
  opacity: 0;
  transition: all .3s ease-in-out;
}
.aboutPage_show.exit-done {
  opacity: 0;
}

@keyframes shake {
  0% { transform: translateX(8px)}
  20% { transform: translateX(-6px)}
  40% { transform: translateX(4px)}
  60% { transform: translateX(-3px)}
  80% { transform: translateX(1px)}
  100% { transform: translateX(0px)}
}