p#about-vodka {
  max-width: 640px;
  margin-top: 40px;
  font-size: $fs-s;
  line-height: 23px;
  white-space: pre-wrap;
}
h5#q-selection-v {
  max-width: 350px;
  margin-top: 60px;
  font-size: $fs-s;
  text-align: center;
  font-weight: 400;
}

