#vodka-main-logo {
  width: 330px;
  margin: 0 auto;
}

p#about-vodka {
  max-width: 700px;
  margin: 40px auto 0;
  font-size: $fs-s;
  line-height: 23px;
  white-space: pre-wrap;
  @media screen and (max-width: 920px) {
    max-width: 70%;
    font-size: $fs-xs;
  }
  @media screen and (max-width: 420px) {
    max-width: 95%;
  }
}
h5#q-selection-v {
  max-width: 350px;
  margin: 60px auto 40px;
  font-size: $fs-s;
  text-align: center;
  font-weight: 400;
  @media screen and (max-width: 420px) {
    max-width: 300px;
    font-size: $fs-xs;
  }
}

