@import './reef';
@import './ligths';
@import './bubbles';
@import './fish';

#background {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  user-select: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  font-size: .9em;
  color: rgba($textcolor, .5);
  z-index: 103;
  @media screen and (max-width: 750px) {
    bottom: 10px;
  }
}