.lake-fishes {
  width: 150px;
  height: 80px;
  display: block;
  position: absolute;
  bottom: 180px;
  @media screen and (min-width: 2500px){
    bottom: 70px;
  }
  @media screen and (max-width: 750px) {
    transform: scale(0.8) translateX(-50%);
  }
  // transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
  z-index: 55;
  // border: 1px solid red;
}


.icon-fish {
  // opacity: .6;
  position: absolute;
  color: $underworld;
  display: block;
}


.fl1 {
  animation: fish-fl1 85s linear infinite;
  @media screen and (max-width: 750px) {
    transform: scale(0.6) translateX(-50%);
    bottom: -50px;
  }
  @media screen and (orientation: portrait){
    left: 15%;
    bottom: 70px;
    animation: fish-fl1-mob 45s linear infinite;
  }

  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl1-m 15s linear infinite;
        animation-delay: #{random($i) * 3}s
      }
    }
  }
  #fish-1 {
    top: 15%;
    left: 3%;
    font-size: 2.3rem;
  }
  #fish-2 {
    top: 0;
    left: 40%;
    font-size: 1.2rem;
  }
  #fish-3 {
    bottom: -10%;
    left: 15%;
    font-size: 1.7rem;
  }
  #fish-4 {
    bottom: 58%;
    left: 59%;
    font-size: 1.5rem;
  }
  #fish-5 {
    bottom: 28%;
    left: 35%;
    font-size: 1.6rem;
  }
  #fish-6 {
    bottom: 17%;
    left: 70%;
    font-size: 1rem;
  }
  #fish-7 {
    bottom: 41%;
    left: 75%;
    font-size: 1.2rem;
  }
  #fish-8 {
    bottom: 0;
    left: 39%;
    font-size: 1.7rem;
  }
}
.fl2 {
  left: 0%;
  bottom: 12%;
  transform: scaleX(-1);
  animation: fish-fl2 65s linear infinite;
  animation-delay: 30s;
  @media screen and (max-width: 750px) {
    bottom: 50px;
    transform: scale(0.8) translateX(-50%);
  }

  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl2-m 15s linear infinite;
        animation-delay: #{random($i) * 3}s
      }
    }
  }
  #fish-1 {
    bottom: 0%;
    left: 39%;
    font-size: 1.3rem;
    @media screen and (orientation: portrait){
      font-size: .9rem;
    }
  }
  #fish-2 {
    bottom: 15%;
    left: 10%;
    font-size: 1.7rem;
    @media screen and (orientation: portrait){
      font-size: 1.2rem;
    }
  }
}

.fl3 {
  left: -10%;
  bottom: 25%;
  transform: scaleX(-1);
  animation: fish-fl3 85s linear infinite;
  animation-delay: 15s;
  @media screen and (max-width: 750px) {
    bottom: 110px;
    transform: scale(0.8) translateX(-50%);
  }
  .icon-fish {
    color: rgba($underworld, 0.1);
  }

  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl2-m 15s linear infinite;
        animation-delay: #{random($i) * 3}s
      }
    }
  }

  #fish-1 {
    bottom: 0%;
    left: 39%;
    font-size: 1.3rem;
    @media screen and (orientation: portrait){
      font-size: .9rem;
    }
  }
  #fish-2 {
    bottom: 15%;
    left: 0%;
    font-size: 1.7rem;
    @media screen and (orientation: portrait){
      font-size: 1.2rem;
    }
  }
  #fish-3 {
    bottom: 20%;
    left: 55%;
    font-size: 1rem;
    @media screen and (orientation: portrait){
      font-size: .8rem;
    }
  }
  #fish-4 {
    bottom: 25%;
    left: 19%;
    font-size: 1.5rem;
    @media screen and (orientation: portrait){
      font-size: 1.1rem;
    }
  }
}


@keyframes fish-fl1 {
  0% { opacity: .7; transform: translate3d(100vw, -15px, 0) scale(.8); }
  33% {opacity: 1; transform: translate3d(50vw, 25px, 0) scale(1); }
  66% {opacity: 1; transform: translate3d(0vw, 50px, 0) scale(1); }
  100% {opacity: .8; transform: translate3d(-50vw, 150px, 0) scale(.9); }
}
@keyframes fish-fl1-mob {
  0% { opacity: .7; transform: translate3d(100vw, -15px, 0) scale(.6); }
  33% {opacity: 1; transform: translate3d(50vw, 25px, 0) scale(.8); }
  66% {opacity: 1; transform: translate3d(0vw, 30px, 0) scale(.7); }
  100% {opacity: .3; transform: translate3d(-50vw, 0px, 0) scale(.6); }
}
@keyframes fish-fl1-m {
  0% { transform: translate3d(0px, 0px, 0px) }
  25% { transform: translate3d(0px, 15px, 50px) }
  50% { transform: translate3d(0px, 5px, 50px) }
  75% { transform: translate3d(0px, 10px, 50px) }
  100% { transform: translate3d(0px, 0px, 150px) }
}

@keyframes fish-fl2 {
  0% { opacity: 0; transform: translateX(0vw) scaleX(-1)}
  50% {opacity: .8; transform: translateX(50vw) scaleX(-1)}
  100% {opacity: 0; transform: translateX(100vw) scaleX(-1)}
}
@keyframes fish-fl2-m {
  0% { transform: translate3d(0px, 0px, 0px) }
  25% { transform: translate3d(0px, 15px, 10px) }
  50% { transform: translate3d(0px, 25px, 50px) }
  75% { transform: translate3d(0px, 10px, 50px) }
  100% { transform: translate3d(0px, 0px, 50px) }
}


@keyframes fish-fl3 {
  0% { opacity: 1; transform: translate3d(0vw, 0, 0) scaleX(-1)}
  50% {opacity: 1; transform: translate3d(50vw, 0, 0) scaleX(-1)}
  100% {opacity: 1; transform: translate3d(100vw, 0, 0) scaleX(-1)}
}

