.lake-fishes {
  width: 150px;
  height: 80px;
  display: block;
  position: absolute;
  @media screen and (min-width: 2500px){
    bottom: 70px;
  }
  @media screen and (max-width: 820px) {
    transform: scale(0.8) translateX(-50%);
  }
  pointer-events: none;
  user-select: none;
  z-index: 45;
  // border: 1px solid red;
  .icon-fish {
    position: absolute;
  }
}
  /////////////////////
  // Косяк рыб первый
.fl1 {
  right: 0;
  bottom: 90px;
  color: $underworld;
  animation: fish-fl1 105s linear infinite;
  @media screen and (max-width: 820px) {
    transform: scale(0.6) translateX(-50%);
    bottom: -50px;
  }
  @media screen and (orientation: portrait){
    left: 15%;
    bottom: 70px;
    animation: fish-fl1-mob 55s linear infinite;
  }
  @media screen and (orientation: landscape){
    left: 15%;
    bottom: 70px;
    animation: fish-fl1-mob 85s linear infinite;
    // animation: fish-fl1 105s linear infinite;
  }

  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl1-m 15s linear infinite;
        animation-delay: #{random($i) * 3}s
      }
    }
  }
  #fish-1 {
    font-size: 2.3rem;
  }
  #fish-2 {
    bottom: 100%;
    left: 40%;
    font-size: 1.2rem;
  }
  #fish-3 {
    bottom: -10%;
    left: 15%;
    font-size: 1.7rem;
  }
  #fish-4 {
    bottom: 58%;
    left: 59%;
    font-size: 1.5rem;
  }
  #fish-5 {
    bottom: 28%;
    left: 35%;
    font-size: 1.6rem;
  }
  #fish-6 {
    bottom: 17%;
    left: 70%;
    font-size: 1rem;
  }
  #fish-7 {
    bottom: 41%;
    left: 75%;
    font-size: 1.2rem;
  }
  #fish-8 {
    bottom: 0;
    left: 39%;
    font-size: 1.7rem;
  }
}
  /////////////////////
  // Косяк рыб второй
.fl2 {
  left: 0;
  bottom: 80px;
  color: rgba($underworld, .8);
  animation: fish-fl2 105s linear infinite;
  animation-delay: 30s;
  @media screen and (max-width: 820px) {
    bottom: 60px;
    left: -150px;
    transform: scale(0.8) translateX(-50%);
  }
  @media screen and (orientation: portrait) {
    animation: fish-fl2-mob 65s linear infinite
  }

  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl1-m 15s linear infinite;
        animation-delay: #{random($i)* 3}s
      }
    }
  }
  #fish-1 {
    bottom: 0%;
    left: 39%;
    font-size: 1.3rem;
    @media screen and (orientation: portrait){
      font-size: .9rem;
    }
  }
  #fish-2 {
    bottom: 15%;
    left: 10%;
    font-size: 1.7rem;
    @media screen and (orientation: portrait){
      font-size: 1.2rem;
    }
  }
}
  /////////////////////
  // Косяк рыб третий
.fl3 {
  left: -10%;
  bottom: 25%;
  color: rgba($underworld, 0.3);
  transform: scaleX(-1);
  animation: fish-fl2 130s linear infinite;
  animation-delay: 5s;
  @media screen and (max-width: 820px) {
    bottom: 110px;
    transform: scale(0.8) translateX(-50%);
  }
  @media screen and (orientation: portrait){
    left: -200px;

  }
  #fish {
    @for $i from 1 to 9 {
      &-#{$i}{
        animation: fish-fl1-m 15s linear infinite;
        animation-delay: #{random($i) * 3}s
      }
    }
  }

  #fish-1 {
    bottom: 0%;
    left: 39%;
    font-size: 1.3rem;
    @media screen and (orientation: portrait){
      font-size: .9rem;
    }
  }
  #fish-2 {
    bottom: 15%;
    left: 0%;
    font-size: 1.7rem;
    @media screen and (orientation: portrait){
      font-size: 1.2rem;
    }
  }
  #fish-3 {
    bottom: 20%;
    left: 55%;
    font-size: 1rem;
    @media screen and (orientation: portrait){
      font-size: .8rem;
    }
  }
  #fish-4 {
    bottom: 25%;
    left: 19%;
    font-size: 1.5rem;
    @media screen and (orientation: portrait){
      font-size: 1.1rem;
    }
  }
}

@keyframes fish-fl1 {
  0% { transform: translate(0vw, -25px) scale(.8); }
  50% { transform: translate(-50vw, 15px) scale(1); }
  100% { transform: translate(-100vw, -70px) scale(.9); }
}
@keyframes fish-fl1-mob {
  0% { transform: translate3d(100vw, -15px, 0) scale(.6); }
  33% { transform: translate3d(50vw, 25px, 0) scale(.8); }
  66% { transform: translate3d(0vw, 30px, 0) scale(.7); }
  100% { transform: translate3d(-50vw, 0px, 0) scale(.6); }
}

@keyframes fish-fl2 {
  0% { transform: translate(0vw, -15px) scaleX(-1)}
  50% { transform: translate(50vw, 30px) scaleX(-1)}
  100% { transform: translate(100vw, -50px) scaleX(-1)}
}

@keyframes fish-fl2-mob {
  0% { transform: translate3d(-10vw, 15px, 0) scaleX(-1); }
  33% { transform: translate3d(40vw, -5px, 0) scaleX(-1); }
  66% { transform: translate3d(80vw, -10px, 0) scaleX(-1); }
  100% { transform: translate3d(120vw, -5px, 0) scaleX(-1); }
}

  // Индивидуальная рыбка
  @keyframes fish-fl1-m {
    0% { transform: translate3d(0px, 0px, 0px) }
    25% { transform: translate3d(0px, 15px, 50px) }
    50% { transform: translate3d(0px, 5px, 50px) }
    75% { transform: translate3d(0px, 10px, 50px) }
    100% { transform: translate3d(0px, 0px, 150px) }
  }