.transition-page-enter.transition-page-enter-active {
  position: absolute;
  opacity: 0;
  transform: translateY(-25px);
}
.transition-page-enter-done {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(0px);
}
.transition-page-exit.transition-page-exit-active {
  opacity: 1;
  transform: translateY(0px);
}
.transition-page-exit-done {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-25px);
}