ul.info-block {
  display: flex;
  flex-shrink: 1;
  padding: 10px;
  margin-bottom: 10%;
  border: 2px dashed $textcolor;
  border-radius: 10px;
  color: $textcolor;
  // transform: translateY(-150px);
  transition: all .3s ease-in-out;
  animation: showInfo .3s ease-in-out forwards;
  animation-delay: .5s;
  @media screen and (max-width: 750px) {
    padding: 0;
    top: 30px;
    right: 10px;
    left: auto;
    border: none;
  }
  li {
    margin: 8px 0;
    position: relative;
  }
  i {
    color: $textcolor;
    font-size: $fs-m;
    cursor: pointer;
    @media screen and (max-width: 750px) {
      font-size: $fs-s;
    }
    transition: all .3s ease-in-out;
    &:hover {
      color: $deep-blue;
    }
  }

}


// .info-block.enter.enter-active {
//   display: none;
//   opacity: 0;
//   transform: translateY(200px);
// }
// .info-block.enter-done {
//   display: flex;
//   opacity: 1;
//   transform: translateY(0);
// }
// .info-block.exit.exit-active {
//   display: flex;
//   opacity: 1;
//   transform: translateY(0);
// }
// .info-block.exit-done {
//   display: none;
//   opacity: 0;
//   transform: translateY(200px);
// }

// @keyframes showInfo {
//   0% { opacity: 0; transform: translateY(20px); }
//   100% { opacity: 1; transform: translateY(-50%); }
// }